.containerUserImage {
    margin-top: 60px;
    width: 70%;

    .userImage {
        width: 170px;
        height: 170px;
        margin: 0px auto;
        position: relative;

        img {
            width: 120%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -60%);
            left: 50%;
        }

        .imgBackground {
            width: 110%;
            z-index: -1;
        }
    }

    p {
        text-align: center;
        font-size: 14px;
        font-weight: 300;
        color: var(--brown);
        font-family: "Montserrat", sans-serif;
        margin-top: 15px;
        margin-bottom: 10px;
        span {
            line-height: 1.33;
            letter-spacing: 2px;
            font-size: 24px;
            font-weight: 700;
            font-family: "PP Woodland", sans-serif;
            margin-top: 5px;
            display: inline-block;
        }
    }
}

.otherPlayerContainer {
    height: 120px;
    width: 80px;

    .otherPlayer {
        height: 80px;
        width: 80px;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -55%);
            left: 50%;
        }

        .imgBackground {
            width: 100%;
            z-index: -1;
        }
    }

    p {
        width: 100%;
        margin-top: 10px;
        text-align: center;
        font-size: 10px;
        font-weight: 300;
        color: var(--brown);
        font-family: "Montserrat", sans-serif;
        span {
            line-height: 13px;
            letter-spacing: 2px;
            font-size: 12px;
            font-weight: 700;
            font-family: "PP Woodland", sans-serif;
            text-align: center;
            display: inline-block;
            margin-bottom: 1px;
        }
    }
}

.otherPlayerContainerWaiting {
    height: 120px;
    width: 80px;

    .otherPlayer {
        height: 80px;
        width: 80px;
        position: relative;

        // img {
        //     width: 90%;
        //     position: absolute;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //     left: 50%;
        // }

        .imgBackground {
            width: 100%;
            z-index: -1;
        }
    }

    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        color: var(--brown);
        font-family: "Montserrat", sans-serif;
        margin-top: 10px;
        span {
            line-height: 1.33;
            letter-spacing: 1px;
            font-size: 15px;
            font-weight: 700;
            font-family: "PP Woodland", sans-serif;
        }
    }
}
