.landingSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
        width: 25%;
    }
}

.brefSection {
    width: 100%;
    background-color: var(--dark-blue);
    padding: 3% 3%;

    &__title {
        color: var(--background-beige);
        font-size: 40px;
        font-family: "PP Woodland", sans-serif;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 400px;
        margin: 1em 0;

        &_title {
            color: var(--background-beige);
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
        }
        &_img {
            margin: 30px 0;
            height: 200px;
        }
        &_img__lunette {
            height: 250px;
            margin: 0;
            transform: translateY(-20px);
        }
        &_text {
            color: var(--background-beige);
            font-size: 18px;
            font-weight: 400;
            font-family: "Montserrat", sans-serif;
            text-align: center;
            vertical-align: baseline;

            &___tiny {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}

.escapeSection {
    height: 100vh;
    width: 100%;
    padding: 3% 3%;
    margin-bottom: 100px;

    &__title {
        color: var(--brown);
        font-size: 40px;
        font-family: "PP Woodland", sans-serif;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow-x: hidden;
        position: relative;
    }

    &__img {
        height: 100%;
        margin: 0 auto;
    }

    &__paragraphe {
        position: relative;
        margin-top: 100px;
    }

    &___title {
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        overflow-x: hidden;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--dark-blue);
            height: 1px;
            width: 100%;
            top: 50%;
            transform: translateX(20px);
        }
    }

    &__text {
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding: 2em;
        line-height: 1.5em;

        &___big {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__relatedContent {
        display: grid;
        grid-template-columns: 30% 30%;
        padding-left: 3em;
        grid-gap: 50px;

        &___text {
            color: var(--dark-blue);
            font-family: "Montserrat", sans-serif;

            &____big {
                font-weight: 700;
            }
        }
    }
}

.planSection {
    height: 75vh;
    width: 100%;
    padding: 3% 3%;

    &__container {
        margin-top: 100px;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 50px;
        overflow-x: hidden;
    }

    &__img {
        width: 90%;
        margin: 0 auto;
    }

    &__paragraphe {
        position: relative;
    }

    &__title {
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: var(--dark-blue);
            height: 1px;
            width: 100%;
            top: 50%;
            transform: translateX(20px);
        }
    }

    &__text {
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding: 2em;
        line-height: 1.5em;

        &___tiny {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

.experienceSection {
    width: 100%;
    padding: 3% 3%;

    &__title {
        color: var(--brown);
        font-size: 40px;
        font-family: "PP Woodland", sans-serif;
    }

    &__titlemt {
        margin-top: 25%;
    }

    &__container {
        width: 100%;
        display: grid;
        grid-template-columns: 50% 50%;
        overflow-x: hidden;
        position: relative;
        margin-bottom: 100px;
    }

    &__img {
       width: 100%;
       margin: 0 auto;
    }
    &__img___lunette {
       width: 80%;
       margin: 100px auto 0 auto;
    }
    &__img___hands {
        width: 50%;
        margin: 100px auto 0 auto;
    }

    &__paragraphe {
        position: relative;
        margin-top: 100px;
    }

    &___title {
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        overflow-x: hidden;
    
        &::after {
            content: "";
            position: absolute;
            background-color: var(--dark-blue);
            height: 1px;
            width: 100%;
            top: 50%;
            transform: translateX(20px);
        }
    }

    &__text {
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 25px;
        padding: 2em;
        line-height: 1.5em;

        &___big {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__relatedContent {
        display: grid;
        grid-template-columns: 30% 30%;
        padding-left: 3em;
        grid-gap: 50px;

        &___text {
            color: var(--dark-blue);
            font-family: "Montserrat", sans-serif;

            &____big {
                font-weight: 700;
            }
        }
    }
}

.gameSection {
    height: 120vh;
    width: 100%;
    padding: 3% 3%;
}

.objectiveSection {
    width: 100%;
    padding: 3% 3%;
    background-color: var(--dark-blue);

    &__title {
        color: var(--background-beige);
        font-size: 40px;
        font-family: "PP Woodland", sans-serif;
    }

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-top: 100px;
        margin-bottom: 15vh;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 400px;
        height: 300px;

        &_title {
            color: var(--background-beige);
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            text-align: center;
        }
        &_img {
            margin: 30px 0 0 0;
            height: 200px;
            vertical-align: middle;
        }
    }
}
.creditSection {
    height: 100vh;
    width: 100%;
    padding: 3% 3%;

    &__title {
        color: var(--brown);
        font-size: 40px;
        font-family: "PP Woodland", sans-serif;
    }

    &__container {
        width: 100%;
        margin: 100px auto 150px auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 400px;

        &_name {
            color: var(--dark-blue);
            font-size: 25px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            text-align: center;
            
            &__thin {
                font-weight: 300;
            }
        }
        &_job {
            color: var(--dark-blue);
            font-size: 20px;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
        &_description {
            color: var(--dark-blue);
            font-size: 16px;
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            text-align: left;
            width: 85%;
            margin: 30px auto;
        }
        &_website {
            color: var(--dark-blue);
            font-size: 12px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
            margin: 5px 0;
            text-decoration: none;
        }
        &_img {
            margin: 15px 0 15px 0;
            height: 200px;
        }
        &_imgLogo {
            margin: 50px auto;
            height: 150px;
            display: block;
        }
        &_imgSocial {
            width: 30px;
            margin: auto 8px;
            vertical-align: middle;
        }
    }

    &__creditImg {
        color: var(--dark-blue);
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        transform: translateY(-60px);
    }
}
