.moons {
    img {
        width: 6%;
        // border: 1px solid white;
    }

    .white {
        opacity: .3;
        border: none;
    }

    margin-bottom: 7.5px;
    display: flex;
    justify-content: center;
}
