.glassContainer {
    width: 100%;
    height: 60%;
    position: relative;

    .background_Img {
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

.state {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: var(--brown);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

