.scenario_background {
    background-color: var(--brown);
    overflow-x: hidden;

    .sectionChurch {
        width: 100%;
        height: 100vh;
        // background-color: red;
        position: relative;
        padding-top: 30px;

        p {
            width: 300px;
            margin: 15px auto;
            color: var(--background-beige);
            font-family: "PP Woodland", sans-serif;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            position: relative;
            z-index: 10;
            opacity: 0;
            animation: fadeIn 2s 2500ms forwards;

            .fontW1 {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW3 {
                font-size: 40px;
                font-weight: 700;
                text-transform: uppercase;
                line-height: 34.5px;
            }

            .lastwords {
                display: inline-block;
                transform: translateY(-7px);
            }
        }

        .church {
            width: 110%;
            position: absolute;
            bottom: 11%;
            z-index: 3;
            animation: slideUpChurch 2.5s forwards ease;
            transform: translateX(-5%);
        }

        .grilles {
            width: 100%;
            position: absolute;
            bottom: 0;
            z-index: 3;
            animation: slideUp 2.5s forwards ease;
        }

        .blue {
            width: 100%;
            position: absolute;
            height: 20%;
            background-color: var(--dark-blue);
            bottom: 0;
            animation: slideUp 2.5s forwards ease;
        }

        .clouds {
            height: 55%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 2;
            animation: slideDown 2.5s forwards ease;

            .cloud1 {
                position: absolute;
                width: 20%;
                top: 0;
                left: 0;
            }
            .cloud2 {
                position: absolute;
                width: 30%;
                right: 0;
                top: 20%;
            }
            .cloud3 {
                position: absolute;
                width: 30%;
                left: 0;
                top: 35%;
            }
            .cloud4 {
                position: absolute;
                width: 45%;
                bottom: 25%;
                left: 25%;
            }
            .cloud5 {
                position: absolute;
                width: 25%;
                bottom: 6%;
                right: 8%;
            }
        }
    }
    .sectionCoffin {
        width: 100%;
        height: 100vh;
        background-color: var(--dark-blue);
        position: relative;
        z-index: 2;
        padding-top: 50px;

        .coffin {
            width: 65%;
            position: absolute;
            // top: 32.5%;
            left: 50%;
            // transform: translate(0%, -50%);
            z-index: 3;
        }

        .couvercle {
            width: 65%;
            position: absolute;
            // top: 32.5%;
            left: 80%;
            top: 28%;
            // right: 0;
            // transform: translate(0%, -65%);
            // transform: rotate(8deg) !important;
            z-index: 3;
        }

        .ghost1 {
            width: 65%;
            position: absolute;
            top: 70vh;
            right: -50%;
            z-index: 3;
        }

        .ghost2 {
            width: 50%;
            position: absolute;
            top: 120vh;
            left: -100%;
            z-index: 3;
        }

        p {
            width: 300px;
            margin: 0px auto;
            color: var(--background-beige);
            font-family: "PP Woodland", sans-serif;
            font-size: 15px;
            line-height: 20px;
            font-weight: 500;
            opacity: 0;
            transform: translateY(10px);
            transition: .6s all ease-in-out;

            .fontW1 {
                font-size: 24px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .noCap {
                text-transform: lowercase;
            }

            .fontW2 {
                font-size: 40px;
                line-height: 34px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        
        // .oldSpiritText {
        //     position: relative;
        //     margin: 0 auto;
        //     transform: translateY(150px);

        // }
        .fearText {
            position: relative;
            margin: 0 auto;
            top: 50%;
            opacity: 0;
            transform: translateY(10px);
            transition: .6s all ease-in-out;
        }
        .ghostText {
            position: relative;
            margin: 0 auto;
            top: 90%;
            opacity: 0;
            transform: translateY(10px);
            transition: .6s all ease-in-out;
        }
        .animText {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    .sectionScientist {
        width: 100%;
        background: rgb(5,66,79);
        background: linear-gradient(180deg, rgba(5,66,79,1) 8%, rgba(173,86,59,1) 60%, rgba(173,86,59,1) 100%);
        position: relative;
        padding-top: 100px;
        transition: 0.6s all ease-in-out;
        padding-bottom: 50px;

        .galerie {
            width: 110%;
            // position: absolute;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0;
            z-index: 3;
        }

        .firstText {
            transform: translateY(200px);
            opacity: 0;
            transition: .6s all ease-in-out;
        }

        .animFirstText {
            opacity: 1;
            transform: translateY(190px);
        }

        .animText {
            opacity: 1;
            transform: translateY(10px);
        }

        p {
            width: 300px;
            margin: 0 auto;
            color: var(--background-beige);
            font-family: "PP Woodland", sans-serif;
            font-size: 15px;
            line-height: 23.5px;
            font-weight: 500;
            position: relative;
            z-index: 4;
            opacity: 0;
            transform: translateY(10px);
            transition: .6s all ease-in-out;

            .fontW1 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW2 {
                font-size: 24px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW3 {
                font-size: 40px;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
            }
        }
    }

    .renderColor {
        background-color: var(--dark-blue);
        background: var(--dark-blue);
    }

    .render {
        width: 100%;
        height: 100vh;
        position: relative;
        // padding-top: 50px;
        // margin-bottom: 25px;
        // min-height: 620px;
        transition: .6s all ease-in-out;

        .veil {
            width: 100%;
            height: 100%;
            min-height: 620px;
            transform: translateY(-50px);
            position: absolute;
            background-color: var(--dark-blue);
            z-index: 10;
            opacity: 0;
            transition: 1s all ease-in-out;
            pointer-events: none;
            top: 100px;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: var(--background-beige);
                font-family: "PP Woodland", sans-serif;
                font-size: 15px;
                line-height: 23.5px;
                font-weight: 500;
                position: absolute;
                bottom: calc(80% + 75px);
                z-index: 12;
                transform: translateY(20px);
                transition: 1s 1s all ease-in-out;
            }

            .animText {
                opacity: 1;
                transform: translateY(0);
            }

            img {
                width: 185%;
                position: absolute;
                transform: translateX(-35.5%);
                left: 50%;
                z-index: 11;
                bottom: 75px;
            }

            .leftDoor {
                transform: translateX(-19%);
                transition: .3s 2.2s all ease-in-out;
                z-index: 10;
                bottom: 75px;
            }

            .rightDoor {
                transform: translateX(-52%);
                transition: .3s 2.2s all ease-in-out;
                z-index: 10;
                bottom: 75px;
            }

            .leftDoorClose{
                transform: translateX(-35.5%);
            }
            .rightDoorClose{
                transform: translateX(-35.5%);
            }
        }

        .veilAppear {
            opacity: 1;
        }

        .plan {
            width: 70vw;
            height: 60vh;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin: 45px auto 5px auto;
        }

        .foots {
            height: 50vh;
            width: 100vw;
            position: absolute;
            top: 90px;
            z-index: 2;

            .foot1 {
                position: absolute;
                width: 4%;
                bottom: 6%;
                left: 47.5%;
                opacity: 0;
                transition: .5s 1.7s all ease-in-out;
            }
            .foot2 {
                position: absolute;
                width: 4%;
                left: 53%;
                bottom: 15%;
                opacity: 0;
                transition: .5s 2.1s all ease-in-out;
            }
            .foot3 {
                position: absolute;
                width: 5%;
                left: 47.5%;
                bottom: 27%;
                opacity: 0;
                transition: .5s 2.5s all ease-in-out;
            }
            .foot4 {
                position: absolute;
                width: 7%;
                left: 59%;
                bottom: 37.5%;
                opacity: 0;
                transition: .5s 2.9s all ease-in-out;
            }
            .foot5 {
                position: absolute;
                width: 5%;
                left: 58%;
                bottom: 50%;
                opacity: 0;
                transition: .5s 3.3s all ease-in-out;
            }
            .foot6 {
                position: absolute;
                width: 5%;
                left: 68%;
                bottom: 60%;
                opacity: 0;
                transition: .5s 3.7s all ease-in-out;
            }
            .foot7 {
                position: absolute;
                width: 8%;
                left: 59%;
                bottom: 73%;
                opacity: 0;
                transition: .5s 4.2s all ease-in-out;
            }

            .appear {
                opacity: 1;
            }
        }

        p {
            width: 300px;
            margin: 0 auto;
            color: var(--background-beige);
            font-family: "PP Woodland", sans-serif;
            font-size: 15px;
            line-height: 23.5px;
            font-weight: 500;
            opacity: 0;
            transform: translateY(10px);
            transition: 1s .5s all ease-in-out;

            .fontW1 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW2 {
                font-size: 24px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW3 {
                font-size: 40px;
                font-weight: 700;
                line-height: 32px;
                text-transform: uppercase;
            }

            .exp {
                display: inline-block;
                font-size: 10px;
                transform: translateY(-5px);
            }
        }

        .animText {
            opacity: 1;
            transform: translateY(0px);
        }

        .buttonContainer {
            transform: translateY(-20px);
            opacity: 0;
            transition: 1s 4.6s all ease-in-out;
        }

        .buttonAppear {
            opacity: 1;
        }
        .buttonDisappear {
            opacity: 0;
        }
    }

    .sectionLock {
        margin-top: 50px;
        width: 100%;
        padding-bottom: 50px;
        background-color: var(--dark-blue);
        position: relative;
        z-index: 2;
        padding-top: 50px;

        .lockContainer {
            height: 50vh;
            margin: 200px 0 0 0;
            clip-path: polygon(0 13%, 100% 2%, 100% 79%, 0% 86%);
            overflow: hidden;
            .lock{
                width: 120%;
                position: relative;
                transform: translateX(-10%);
                transition: .6s all ease-in-out;
                height: 100%;
            }
            .lockScale {
                transform: scale(1.4) translateX(-10%);
            }
            .secondLockScale {
                // animation: scale .6s 1.6s ease-in-out forwards;
                // transform: scale(1.6) translateX(-10%);
                // transition: ;
                // cubic-bezier(0.45, 0.05, 0.55, 0.95)
            }
        }
       

        .sectionLock__first {
            position: relative;
            width: 300px;
            margin: 15px auto;

            p {
                width: 300px;
                color: var(--background-beige);
                font-family: "PP Woodland", sans-serif;
                font-size: 15px;
                line-height: 30px;
                font-weight: 500;
                position: absolute;
                opacity: 0;
                transform: translateY(10px);
                // transition: .6s all ease-in-out;
    
                .fontW1 {
                    font-size: 24px;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                .fontW2 {
                    font-size: 40px;
                    line-height: 34px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                .fontW3 {
                    display: inline-block;
                    transform: translateY(-10px);
                }
    
                .behind {
                    display: inline-block;
                    transform: translateY(-7px);
                }
            }

            .violent {
                transition: .6s all ease-in-out;
                margin: 0;
            }

            .impossible {
                transition: .6s 1s all ease-in-out;
            }

            .animTextInOne {
                // opacity: 1;
                // transform: translateY(0);
                animation: fadeInOut 3s .5s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
            }

            .animTextInTwo {
                // opacity: 0;
                // transform: translateY(-10px);
                animation: fadeIn 1s 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
            }
        }

        .sectionLock__second {
            position: relative;
            width: 300px;
            height: 200px;
            margin: 15px auto;

            p {
                width: 300px;
                color: var(--background-beige);
                font-family: "PP Woodland", sans-serif;
                font-size: 15px;
                line-height: 30px;
                font-weight: 500;
                position: absolute;
                opacity: 0;
                transform: translateY(10px);
                transition: .6s all ease-in-out;
    
                .fontW1 {
                    font-size: 24px;
                    line-height: 26px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                .fontW2 {
                    font-size: 40px;
                    line-height: 34px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                .fontW3 {
                    display: inline-block;
                    transform: translateY(-10px);
                }

            }

            .cadenas {
                transition: .6s all ease-in-out;
                margin: 0;
            }

            .code {
                transition: .6s 1s all ease-in-out;
            }

            .animTextInOne {
                // opacity: 1;
                // transform: translateY(0);
                animation: fadeInOut 3s .5s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
            }

            .animTextInTwo {
                // opacity: 0;
                // transform: translateY(-10px);
                animation: fadeIn 1s 3.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
            }
        }

        p {
            width: 300px;
            margin: 15px auto;
            color: var(--background-beige);
            font-family: "PP Woodland", sans-serif;
            font-size: 15px;
            line-height: 30px;
            font-weight: 500;
            opacity: 0;
            transform: translateY(10px);
            transition: .6s all ease-in-out;

            .fontW1 {
                font-size: 24px;
                line-height: 26px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW2 {
                font-size: 40px;
                line-height: 34px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW3 {
                display: inline-block;
                transform: translateY(-10px);
            }

            .behind {
                display: inline-block;
                transform: translateY(-7px);
            }
        }

        .tombGhost {
            height: 50vh;
            padding: 100px 0;
            position: relative;
            .tomb {
                width: 300px;
                margin: 50px auto 100px auto;
                color: var(--background-beige);
                font-family: "PP Woodland", sans-serif;
                font-size: 15px;
                line-height: 23.5px;
                font-weight: 500;
                position: relative;
                z-index: 4;
                opacity: 0;
                transform: translateY(10px);
                transition: .6s all ease-in-out;
                letter-spacing: 2px;
    
                .fontW1 {
                    font-size: 25px;
                    font-weight: 700;
                    line-height: 30px;
                    text-transform: uppercase;
                }
    
                .fontW2 {
                    font-size: 34px;
                    line-height: 38px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
    
                .fontW3 {
                    font-size: 35px;
                    font-weight: 700;
                    line-height: 32px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    transform: translate(0);
                }
            }

            .animText {
                opacity: 1;
                transform: translateY(0);
            }


            .ghost1 {
            width: 75%;
            position: absolute;
            top: 30vh;
            right: -50%;
            z-index: 3;
            }

            .ghost2 {
                width: 60%;
                position: absolute;
                top: 0;
                left: -40%;
                z-index: 3;
            }
        }

        .cadenas {
            margin: 30vh auto 0 auto;
        }
        

        .missionPicker {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin: 300px auto 0 auto;
            opacity: 0;
            transform: translateY(20px);
            transition: 1s all ease-in-out;
        }

        .missionAppear {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }  
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slideUp {
    0% {
        transform: translateY(70%);
    }  
    100% {
        transform: translateY(0px);
    }
}
@keyframes slideUpChurch {
    0% {
        transform: translate(-5%, 70%);
    }  
    100% {
        transform: translate(-5%, 0px);
    }
}
@keyframes slideDown {
    0% {
        transform: translateY(-70%);
    }  
    100% {
        transform: translateY(0px);
    }
}
@keyframes scale {
    0% {
        // transform:translateY(-10%);
    }  
    100% {
        transform: scale(1.4) translateX(-10%);
    }
}

@keyframes fadeInOut {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }  
    20% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 1;
    }
    80% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}