.headerContainerMain {
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: var(--brown);
    font-family: "PP Woodland", sans-serif;
    h1 {
        font-size: 40px;
        font-weight: 700;
    }

    p {
        font-size: 20px;
        white-space: nowrap;
        line-height: 22px;
    }
}

.headerContainerFixed {
    position: fixed;
    width: 100vw;
    // height: 100px;
    // padding: 20px;
    // background-color: var(--background-beige);
    background: rgb(253, 240, 229);
    background: linear-gradient(
        180deg,
        var(--background-beige) 0%,
        var(--background-beige) 85%,
        rgba(255, 255, 255, 0) 100%
    );
    // background: linear-gradient(
    //     180deg,
    //     rgba(253, 240, 229, 1) 0%,
    //     rgba(253, 240, 229, 1) 80%,
    //     rgba(253, 240, 229, 0.9) 82%,
    //     rgba(253, 240, 229, 0.8) 84%,
    //     rgba(253, 240, 229, 0.7) 86%,
    //     rgba(253, 240, 229, 0.6) 88%,
    //     rgba(253, 240, 229, 0.5) 90%,
    //     rgba(253, 240, 229, 0.4) 92%,
    //     rgba(253, 240, 229, 0.3) 94%,
    //     rgba(253, 240, 229, 0.2) 96%,
    //     rgba(253, 240, 229, 0.1) 98%,
    //     rgba(253, 240, 229, 0) 100%
    // );
    font-family: "PP Woodland", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    padding-bottom: 40px;
    padding-top: calc(env(safe-area-inset-top, 0px) + 20px);
    color: var(--brown);
    // box-shadow: 0px 7px 10px 2px rgba(253, 240, 229, .2);
    top: 0;
    z-index: 99;
    h1 {
        font-size: 40px;
        font-weight: 700;
    }
}
