.carouselWrapper {
    width: 100%;
    height: 95%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}
.carousel {
    width: 100%;
}
.slide {
    height: 40vh;
    width: 65%;
    margin-right: 2vw;
    transition: transform 0.3s;
    text-align: left;
    color: black;
    padding-top: 2em;
    position: relative;
    font-family: "PP Woodland", sans-serif;
}

.textTransition {
    font-size: 24px;
    font-family: "PP Woodland", sans-serif;
}

.counter {
    position: absolute;
    left: 10%;
    top: 37vh;
    z-index: 10;
    pointer-events: none;
    font-family: "PP Woodland", sans-serif;
    color: var(--brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    aside {
        display: inline-flex;
        transform: rotate(90deg);
    }
    .totalCounter {
        font-size: 12px;
        margin-left: 1px;
    }

    .line {
        // transform: translateX(50%);
        display: inline-block;
        margin: 0.5px 0 5px 1px;
        font-weight: 300;
        font-size: 12px;
        height: 12px;
        width: 0.3px;
        background-color: var(--brown);
    }
}
