.missionBtn {
    background-color: transparent;
    width: 90vw;
    border: none;
    position: relative;
    color: var(--dark-blue);
    padding: 14px 25px;
    font-family: Montserrat, sans-serif;
    margin: 15px 0 20px 0;
    font-size: 14px;

    p {
        z-index: 2;
        position: relative;
    }

    img {
        position: absolute;
        width: 90%;
        height: 100%;
        top: 0;
        transform: translateX(-50%);
        z-index: 1;
        transition: opacity 0.3s;
    }

    .locked {
        opacity: 0.3;
    }

    .inputContainer {
        width: 80%;
        position: relative;
        margin: 10px auto;
        z-index: 5;
        overflow: hidden;

        .img {
            width: 90%;
            height: 80%;
            position: absolute;
            top: 50%;
            transform: translate(-48%, -50%);
            left: 50%;
            z-index: -1;
            transition: 1s all ease-in-out;
            transition-delay: 1300ms;
            // opacity: 0;
        }

        .input {
            padding: 0.5em;
            width: 90%;
            border: none;
            margin-top: 5px;
            background-color: unset;
            font-size: 25px;
            color: var(--dark-blue);
            font-family: "Montserrat", sans-serif;
            text-align: center;
            font-weight: 100;
            transition: 1s all ease-in-out;
            transition-delay: 1000ms;
            box-shadow: transparent;
        }

        .curtain {
            width: 89.5%;
            height: 92%;
            position: absolute;
            top: 100%;
            transform: translate(-49.5%, -11%);
            left: 50%;
            z-index: 1;
        }

        .champ_bas {
            z-index: 2;
            opacity: 1;
            top: 0;
            transform: translate(-48%, 0%);
            pointer-events: none;
        }

        .check {
            width: 17.5%;
            height: 70%;
            position: absolute;
            top: 100%;
            transform: translate(-50%, -12%);
            left: 50%;
            z-index: -1;
            transition: 0.25s all ease-out;
            opacity: 0;
            transition-delay: 2200ms;
        }

        .height {
            transform: translate(-48%, 20px);
        }

        .checked {
            transform: translate(-50%, -145%);
            opacity: 1;
        }

        .curtain:focus {
            background-color: transparent;
        }
    }

    .title {
        font-size: 12px;
        font-weight: 300;
        span {
            font-weight: 500;
            margin-right: 4px;
        }
    }

    .description {
        margin: 6px auto 4px auto;
        width: 80%;
        font-size: 14px;
        font-weight: 300;
        // white-space: nowrap;
    }
}

.notAnsweredContainer {
    background-color: transparent;
    width: 90vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-blue);
    font-family: Montserrat, sans-serif;
    position: relative;
    margin: 20px 0;

    p {
        position: absolute;
        z-index: 2;
        font-weight: 700;
    }

    img {
        width: 90%;
        z-index: 1;
        transition: opacity 0.3s;
    }

    .locked {
        opacity: 0.3;
    }
}

.missionScenarioMenu {
    background-color: transparent;
    width: 90vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 25px 0;

    .text {
        position: absolute;
        z-index: 2;
        font-weight: 700 !important;
        font-family: Montserrat, sans-serif !important;
        color: var(--dark-blue) !important;
        opacity: 1 !important;
        transform: translateY(0) !important;
        margin: 0 !important;
    }

    img {
        width: 90%;
        position: relative;
        z-index: 1;
        transition: opacity 0.3s;
    }

    .locked {
        opacity: 0.3;
    }
}
// @media screen and (max-width: 374px) {
//     .description {
//         width: 85%;
//     }
// }

.active {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
}

@media screen and (max-width: 374px) {
    .missionBtn {
        .inputContainer {
            .input {
                // padding: 0.5em;
                padding-bottom: 0.5em;
            }
            .height {
                transform: translate(-48%, 30px);
            }
        }
    }
}
