.lensesContainer {
    position: absolute;
    width: 100%;
    height: 9%;
    background-color: #FFFFFF; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .lenses {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .5;

        img {
            width: 100%;
            display: block;
        }
    }

    .active {
        opacity: 1;
    }
}

.up {
    top: 8%;
}

.down {
    bottom: 9.5%;
}

.carouselWrapper {
    position: absolute;
    width: 100%;
    height: 9%;
    top: 8%;
    background-color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    width: 90%;
    height: 50px;
    overflow-x: hidden;
    margin: 0 auto;
    padding-top: 1.1em;
}

.slide {
    width: 50px;
    margin-right: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}