.noticeContainer {
    width: 70%;
    margin: 25% auto;
    position: relative;
    font-family: Montserrat, sans-serif ;
    isolation: isolate;
    .img {
        width: 100%;
        position: relative;
        z-index: 2;
        pointer-events: none;
        mix-blend-mode: luminosity;
    }
    
    .circleAstre {
        width: 20%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 100%;
            animation: float 3s ease-in-out infinite;
        }

        p {
            white-space: nowrap;
            margin-top: 7px;
            font-size: 14px;
            color: var(--dark-blue);
        }
    }

    .circleTopRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        position: absolute;
        right: 0;
        top: 6%;
        transform: translateX(20%);
        z-index: 1;

        img {
            width: 100%;
            animation: float 3s ease-in-out infinite;
        }

        p {
            margin-top: 20px;
            font-size: 14px;
            color: var(--dark-blue);
        }
    }

    .circleleftBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        position: absolute;
        left: 0;
        transform: translateX(-20%);
        top: 67.5%;
        z-index: 1;
        img {
            width: 100%;
            animation: float 3s ease-in-out infinite;
        }
        p {
            margin-top: 10px;
            font-size: 14px;
            color: var(--dark-blue);
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
