.FirstQuestionContainer {
    width: 100%;
    // background-color: rgba(250,128,114 ,.6 );
    height: 300px;
    text-align: center;
    color: var(--brown);

    h4 {
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 1px;
        font-family: "PP Woodland", sans-serif;
        line-height: 28px;
        width: 90%;
        margin: 0 auto 20px auto;
    }

    p {
        margin: 10px;
        font-size: 14px;
        font-weight: 300;
        font-family: Montserrat, sans-serif;
        width: 290px;
        width: 90%;
        margin: 0 auto 20px auto;
        line-height: 20px;
    }

    .questionMark {
        width: 70%;
        margin: 16px auto 0px auto;
    }

    .inputContainer {
        width: 80%;
        position: relative;
        margin: 20px auto;

        .img {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translate(-48%, -50%);
            left: 50%;
            z-index: -1;
            transition: 1s all ease-in-out;
            transition-delay: 1300ms;
        }

        .curtain {
            width: 100%;
            position: absolute;
            top: 100%;
            transform: translate(-48.5%, -12%);
            left: 50%;
            z-index: 1;
        }

        .check {
            width: 17.5%;
            position: absolute;
            top: 100%;
            transform: translate(-50%, -12%);
            left: 50%;
            z-index: -1;
            transition: 0.25s all ease-out;
            opacity: 0;
            transition-delay: 2200ms;
        }

        .height {
            transform: translate(-48%, 50px);
        }

        .checked {
            transform: translate(-50%, -145%);
            opacity: 1;
        }

        .input {
            padding: 0.5em;
            width: 90%;
            border: none;
            margin-bottom: 2px;
            background-color: unset;
            font-size: 24px;
            color: var(--dark-blue);
            font-family: "PP Woodland", sans-serif;
            text-align: center;
            transition: 1s all ease-in-out;
            transition-delay: 1000ms;
            box-shadow: transparent;
        }

        .curtain:focus {
            background-color: transparent;
        }
    }
}

.active {
    opacity: 0;
    transform: translateY(50px);
}

@media screen and (max-width: 374px) {
    .FirstQuestionContainer {
        .inputContainer {
            .input {
                // padding: 0.5em;
                padding-bottom: 0.3em;
            }
            .height {
                transform: translate(-48%, 30px);
            }
        }
    }
}
