.otherChapters {
    width: 100%;
    margin-bottom: 70px;

    h4 {
        text-align: center;
        color: var(--brown);
        font-size: 20px;
        font-family: "PP Woodland", sans-serif;
        margin-bottom: 12px;
        line-height: 24px;
        opacity: 0;
        transform: translateY(-20px);
        transition: .5s all ease-in-out;
        transition-delay: .25s;
    }

    .textAppear {
        opacity: 1;
        transform: translateY(0px);
    }

    .buttonsContainer {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        opacity: 0;
        transition: 1s  all ease-in-out;
        transition-delay: .5s;

        .buttonContainer {
            width: 20%;
            position: relative;
            button {
                width: 100%;
                border: none;
                background-color: transparent;
                margin: 15px 0;
                img {
                    width: 100%;
                    animation: float 2s ease-in-out infinite;
                }
            }

            p {
                color: var(--dark-blue);
                font-family: Montserrat, sans-serif;
                font-size: 14px;
                width: 150%;
                transform: translateX(-17%);
                margin: 0 auto 50px auto;
                text-align: center;
            }
        }
    }
    .buttonAppear {
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width: 374px) {
    .otherChapters {
        .buttonsContainer {
            width: 100%;
            margin: 0;
        }
    }
}
