.noticeContainer {
    overflow: hidden;
    .sectionContainer {
        width: 70%;
        margin: 50px auto;

        img {
            width: 100%;
        }

        .book {
            width: 120%;
            transform: translateX(-8%);
        }

        .textContainer {
            width: 100vw;
            margin: 50px 0;
            position: relative;
            left: -22%;
        }

        .oculaire {
            width: 100vw;
            left: 0;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
        }

        p {
            width: 300px;
            margin: 0 auto;
            color: var(--brown);
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 21px;
            font-weight: 500;
            text-align: left;
            white-space: pre-line;
            opacity: 0;
            transform: translateY(10px);
            transition: 0.6s all ease-in-out;

            .fontW1 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .fontW2 {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .oneLine {
                white-space: nowrap;
            }
        }

        .firstAnimText {
            animation: fadeIn 1s ease-in-out forwards;
        }

        .animText {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mt {
    margin-top: 130px !important;
}
