.noticeContainer {
    overflow: hidden;
    .sectionContainer {
        width: 70%;
        margin: 50px auto;
        position: relative;

        .astre {
            width: 90%;
            margin: 12em auto 7em auto;
            display: block;
            animation: slideIn 1s cubic-bezier(0, 0.25, 0.25, 1);
            animation-fill-mode: forwards;
        }

        .oculaire {
            width: 100vw;
            left: 0;
            position: relative;
            transform: translateX(-50%);
            left: 50%;
        }

        img {
            width: 100%;
        }

        .book {
            width: 120%;
            transform: translate(-8%, 10px);
            opacity: 0;
            transition: 0.6s 0.5s all ease-in-out;
        }

        .bookAnim {
            opacity: 1;
            transform: translate(-8%, 0);
        }

        .dots {
            position: absolute;
            // background-color: var(--brown);
            // height: 300px;
            width: 120%;
            top: 0;
            left: 50%;
            border: none;
            border-top: 5px dashed var(--brown);
            transform: rotate(90deg);
            transform-origin: left;
        }

        .display {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 15px;
        }

        .moon {
            width: 17%;
        }

        .sun {
            width: 20%;
            height: 20%;
        }

        .textContainer {
            width: 100vw;
            margin: 50px 0;
            position: relative;
            left: -22%;
        }

        p {
            width: 300px;
            margin: 0 auto;
            color: var(--brown);
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 23.5px;
            font-weight: 500;
            opacity: 0;
            transform: translateY(10px);
            transition: 0.6s all ease-in-out;
            // text-align: left;

            .fontW1 {
                text-transform: uppercase;
                font-weight: 700;
            }

            .fontW2 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
            }

            .oneLine {
                white-space: nowrap;
            }

            .italic {
                font-style: italic;
            }
        }

        .firstAnimText {
            animation: fadeIn 1s ease-in-out forwards;
        }

        .animText {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(50vw);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.mt {
    margin-top: 80px !important;
}

@media screen and (max-width: 374px) {
    .oneLine {
        white-space: normal;
    }
}
