.pop_in {
    height: 100vh;
    width: 100%;
    z-index: 102;
    background-color: var(--background-beige);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;

    .inside__Block {
        width: 85%;
        // background-color: var(--brown);
        transform: translateY(-50px);
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px 15px;
        border: none;

        .background_Img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }

        h4 {
            font-weight: 500;
            font-size: 18px;
            letter-spacing: 1px;
            margin-bottom: 18px;
            font-family: "PP Woodland", sans-serif;
            line-height: 22px;
            text-align: center;
            color: var(--brown);
        }

        p {
            color: var(--brown);
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            width: 100%;
            margin: 0 auto;
            font-weight: 300;
            margin-bottom: 25px;
            letter-spacing: 1px;
        }
    }
}

.appear {
    opacity: 0;
    pointer-events: none;
}
