.globalWrapper {
    width: 100%;
    height: 100%;
    padding-top: 12px;
}

.page {
    min-height: 100vh;
}

.blue {
    background-color: var(--dark-blue);
}
.beige {
    background-color: var(--background-beige);
}
.brown {
    background-color: var(--brown);
}

@supports (padding: env(safe-area-inset-top)) {
    .globalWrapper {
        padding-top: calc(env(safe-area-inset-top, 0px) + 12px);
    }
}
