.mission1_IntroContainer {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pop_in {
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: var(--background-beige);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s;

    .inside__Block {
        width: 80%;
        transform: translateY(-50px);
        // background-color: var(--brown);
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        border: none;

        .background_Img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
        }

        p {
            color: var(--brown);
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 21px;
            text-align: center;
            width: 90%;
            margin: 20px auto;
            font-weight: 300;
            margin-top: 12.5px;
        }
    }
}

.appear {
    opacity: 0;
    pointer-events: none;
}
