.presContainer {
    position: relative;
    width: 100%;
    height: 300px;
    margin-top: 40px;

    img {
        width: 80%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

.text {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: var(--brown);
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    width: 100%;
    line-height: 20px;
    margin: 0 auto;
}

.title {
    text-align: center;
    color: var(--brown);
    font-size: 18px;
    font-weight: 300;
    font-family: "PP Woodland", sans-serif;
    width: 100%;
    margin-bottom: 10px;

    .title_bold {
        font-weight: 500;
    }

    .scientist {
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        font-size: 12px;
    }
}

.presDescription {
    margin-top: 65px;
}

@media screen and (max-width: 374px) {
    .presDescription {
        margin-top: 30px;
    }

    .presContainer {
        margin-top: 0;
    }

    .title {
        margin-top: 15px;
    }
}
