.title {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 30px;
    font-family: "PP Woodland", sans-serif;
    transform: translateX(0);
    transition: .3s all ease-in-out;
}

.date {
    font-weight: 500;
    font-size: 14px;
    font-family: "PP Woodland", sans-serif;
    transform: translateX(0);
    transition: .3s all ease-in-out;
}

.noText {
    opacity: 0;
    transform: translateX(-30px);
}

.animationTextEntry {
    transform: translateX(0);
    opacity: 1;
}

.animationTextLeave {
    transform: translateX(-50px);
    opacity: 0;
}
