.missionContainer {
    width: 85%;
    // height: 100px;
    text-align: center;
    margin: 0 auto;
    color: var(--brown);
    border-radius: 15px;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    padding: 10px;
    font-weight: 300;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
    // padding: 15px;

    img {
        position: absolute;
        left: 0;
        width: 90%;
        height: 100%;
        top: 0;
        z-index: -1;
        transform: translateX(5%);
    }

    .title {
        font-size: 12px;
        span {
            font-weight: 500;
            margin-right: 4px;
        }
    }

    .description {
        margin: 6px 0 4px 0;
        width: 70%;
        font-size: 14px;
        // white-space: nowrap;
    }
}

@media screen and (max-width: 374px) {
   .missionContainer {
       width: 95%;
   }
}
