.background_Img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 70%;
}

.tool_Img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 75%;
    transition: all 0.2s;
    animation: float 4s ease-in-out infinite;
}

.ajustment {
    top: 36%;
}

.grey {
    filter: saturate(0) contrast(0.5);
}

.toolText {
    color: var(--brown);
    height: 50px;
    position: absolute;
    bottom: -10%;
    margin: 85% 5vw 0 5vw;
    transform: translateX(0);
    transition: .3s all ease-in-out;
    h4 {
        font-size: 28px;
        line-height: 26px;
    }

    p {
        font-size: 10px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        line-height: 12px;
    }
}

.noText {
    opacity: 0;
    transform: translateX(-30px);
}

.imagesContainer {
    margin-top: 10px;
}

.button__use {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 15%;
    left: 50%;
    font-size: 12px;
    transform: translate(-50%, -40%);
    color: var(--dark-blue);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.used {
    width: 60%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--grey);
    border-radius: 20px;
    padding: 5px;
    color: var(--light-grey);
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    font-weight: 300;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
}

.open {
    opacity: 1;
}

@keyframes float {
    0% {
        transform: translate(-50%, -50%);
    }
    50% {
        transform: translate(-50%, -53%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 374px) {
    .toolText {
        margin: 80% 0 0 5vw;
    }
}
