.mainText {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: var(--brown);
    margin-bottom: 35px;
    font-family: "Montserrat", sans-serif;
}

.logo {
    width: 80%;
    margin-top: 30%;
}

.container {
    opacity: 1;
    transition: all 0.5s ease-in-out 0.2s;
    &.invisible {
        opacity: 0;
    }
}

.splashVideo {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.5s ease-in-out;
    &.finished {
        transform: translate(-50%, -45vh) scale(0.85);
    }
}

.globalContainer {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputContainer {
    width: 80%;
    position: relative;

    img {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        z-index: -1;
    }

    .input {
        width: 80%;
        border: none;
        margin-left: 15px;
        margin-top: 5px;
        background-color: unset;
        font-size: 25px;
        color: var(--dark-blue);
        font-family: "Montserrat", sans-serif;
    }
}
