.hintContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.title {
    color: var(--brown);
    align-self: flex-start;
    margin-top: 10px;
    font-size: 40px;
    margin-left: 5vw;
    font-family: "PP Woodland", sans-serif;
}

.pointsContainer {
    width: 100%;
    // height: 20%;
    margin-top: 50px;
    color: var(--brown);

    aside {
        position: relative;
        width: 100%;
        display: flex;
        align-items: flex-end;
        // background-color: var(--background-beige);

        .bar {
            position: relative;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;

            & > * {
                display: block;
                pointer-events: none;
            }

            .img {
                width: 100%;
                z-index: 2;
                position: relative;
            }

            .points {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                transform: translateX(0%);
                transition: 1s all ease-in-out;
                background: #ad563b;
            }
            .graduations {
                z-index: 1;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .pointsCounter {
            display: block;
            font-size: 14px;
            font-family: "PP Woodland", sans-serif;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    h4 {
        text-align: center;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 10px;
    }
}
