.headerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--white);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 2px 0 rgba(4, 66, 81, 0.53);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 99;
}

.left {
    justify-content: flex-start;
    padding-left: 10%;
}