.noticeBtn {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 10px;
    border: none;
    background-color: transparent;
    color: var(--dark-blue);
    font-weight: 500;
    font-family: Montserrat, sans-serif;

    img {
        width: 50%;
    }
}