.text {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 1px;
    color: var(--brown);
    margin-top: 10px;
    width: 70%;
}

.otherPlayers {
    width: 90%;
    height: 200px;
    // margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 374px) {
    .otherPlayers {
        height: 140px;
        margin-top: 15px;
        width: 98%;
    }

    .text {
       letter-spacing: .5px;
       margin-top: 30px;
       width: 90%;
    }
}