.compassContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: "";
        display: block;
        top: calc(15.5vw + -1.3vh);
        left: 50%;
        transform: translate(-50%);
        width: 5px;
        height: 15px;
        background-color: var(--dark-blue);
        position: absolute;
    }

    .compass,
    .aiguille {
        width: 100%;
    }

    .aiguille {
        position: absolute;
        top: 0;
    }

    .moon {
        position: absolute;
        top: 0;
        width: 12vw;
        height: 12vw;
        transform-origin: center 45vw;
        display: block;

        img {
            height: 100%;
            width: 100%;
            object-fit: scale-down;
            position: relative;
            z-index: 10;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 150%;
            width: 150%;
            transform: translate(-50%, -50%) scale(0.5);
            background-color: var(--dark-blue);
            border-radius: 9999px;
            z-index: -10;
            opacity: 0;
            transition: opacity 0.3s cubic-bezier(0, 0.73, 1, 1),
                transform 0.3s cubic-bezier(0, 0.73, 1, 1);
        }
        &.sticky {
            transition: transform 0.4s;
            &:after {
                transform: translate(-50%, -50%) scale(1);
                opacity: 1;
                transition: opacity 0.3s cubic-bezier(0, 0.87, 0.58, 1),
                    transform 0.5s cubic-bezier(0, 0.87, 0.58, 1);
            }
        }

        &.stickToTopLeft {
            transform: rotate3d(0, 0, 1, 360deg) !important;
        }
        &.stickToTopRight {
            transform: rotate3d(1, 1, 1, 0) !important;
        }
    }
}

.state {
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
    color: var(--brown);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.deg {
    font-size: 28px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--dark-blue);
    line-height: 20px;
    font-family: "PP Woodland", sans-serif;
}

.text {
    font-weight: 500;
    margin-top: -2px;
    font-size: 28px;
    transition: 0.1s all;
    text-align: center;
    color: var(--dark-blue);
    font-family: "PP Woodland", sans-serif;
}
