html,
body,
#__next {
    height: 100%;
    position: relative;
}
body {
    overscroll-behavior-y: contain;
    // height: min(
    //     calc(100% - 12px),
    //     calc(100% - env(safe-area-inset-top) - 12px)
    // );
    height: 100%;
    background-color: var(--background-beige);
}
@supports (padding: env(safe-area-inset-top)) {
    body {
        height: calc(100% - env(safe-area-inset-top, 0px) - 12px);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "PP Woodland";
    src: url("../../public/fonts/PPWoodland-Bold.woff2") format("woff2"),
        url("../../public/fonts/PPWoodland-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

:root {
    --brown: #ad563b;
    --background-beige: #fdf0e5;
    --dark-blue: #05424f;
    --white: #fffbf8;
    --grey: #727272;
    --light-grey: #fff3ec;
}

:focus {
    outline: none;
}

input {
    &:focus {
        outline: none;
        // outline-color: var(--dark-blue);
    }
    & ~ img {
        transition: filter 0.2s;
    }
    &:focus ~ img {
        filter: saturate(4.5);
    }
}
button {
    &:focus {
        outline: none;
        // outline-color: var(--dark-blue);
    }
    img {
        transition: filter 0.2s;
    }
    &:focus img {
        // filter: drop-shadow(2px 2px 2px black);
    }
}

/* Disable type="number" buttons on the side */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
