.lensesContainer {
    position: absolute;
    width: 100%;
    height: 9%;
    background-color: #FFFFFF; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .lenses {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: .5;

        img {
            width: 100%;
            display: block;
        }
    }

    .active {
        opacity: 1;
    }
}

.up {
    top: 8%;
}

.down {
    bottom: 9.5%;
}