.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fullHeight {
    height: 100%;
}

.fullVH {
    height: 100vh;
}

.backgroundBlue {
    margin-top: -12px;
    padding-top: 12px;
}
