.arrowUp {
    width: 10%;
}

.arrowDown {
    width: 10%;
    transform: rotate(180deg);
}

.textTransition {
    font-size: 225px;
    font-family: "PP Woodland", sans-serif;
    color: var(--brown);
    margin: 55px auto 0px auto;
    pointer-events: none;
}

.digitsContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 50px auto;

    .digit {
        width: 50px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;

        img {
            width: 100%;
            position: absolute;
        }

        p {
            color: var(--background-beige);
            position: relative;
            font-size: 25px;
            font-family: "PP Woodland", sans-serif;
            font-weight: 300;
            margin-top: 10px;
        }
    }

    .active {
        opacity: 1;
    }
}
