.button_home {
    // margin-top: 100px;
    border: none;
    background-color: rgba($color: #ffffff, $alpha: 0);
    // width: 40%;
    padding: 5px 20px;
    position: relative;
    margin: 20px auto;
    height: 50px;
    // bottom: 50px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        color: var(--dark-blue);
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    img {
        width: 100%;
        height: 50px;
        position: absolute;
        // transform: translate(-50%, -50%);
        left: 0;
        z-index: -1;
        top: 0;
    }
    animation: float 2s ease-in-out infinite;
    &:active {
        // animation: bounce 2s ease-in-out forwards;
    }
    &.disabled {
        opacity: 0.3;
        animation-play-state: paused;
    }
}

.abs {
    position: absolute;
    bottom: 25px;
}

.scenario {
    margin: 5px auto 20px auto;
}

@media screen and (max-width: 374px) {
    .button_home {
        span {
            letter-spacing: 1px;
        }
    }

    .abs {
        bottom: 10px;
    }
}

@keyframes float {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(10px);
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
