.carouselWrapper {
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.carousel {
    width: 100%;
}

.slide {
    height: 43vh;
    width: 65%;
    margin-right: 2vw;
    transition: transform 0.3s;
    text-align: left;
    color: var(--brown);
    padding-top: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 85%;
    }

    .title {
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        // transition: 0.1s all;
        font-family: "PP Woodland", sans-serif;
        margin-top: 30px;
        // transform: translateY(20px);
        transform: translateX(0);
        transition: 0.3s all ease-in-out;
    }

    .date {
        font-weight: 500;
        font-size: 14px;
        // transition: 0.1s all;
        font-family: "PP Woodland", sans-serif;
        // transform: translateY(20px);
        transform: translateX(0);
        transition: 0.3s all ease-in-out;
    }

    .noText {
        opacity: 0;
        transform: translateX(-30px);
    }
}

.moonText {
    width: 85%;
    text-align: center;
    color: var(--brown);
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
    top: calc(35vh + 37vw);
    left: 50%;

    .testContainer {
        position: relative;
        width: 100%;
        margin-bottom: 40px;
    }
}

.state {
    color: var(--brown);
    font-size: 14px;
    font-weight: 300;
    font-family: Montserrat, sans-serif;
    text-align: center;
}

@keyframes slide {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
