.noticeContainer {
    width: 70%;
    margin: 25% auto;
    position: relative;
    font-family: Montserrat, sans-serif ;
    // mix-blend-mode: hard-light;
    isolation: isolate;
    .img {
        width: 110%;
        position: relative;
        z-index: 2;
        pointer-events: none;
        transform: translateX(-10%);
        mix-blend-mode: luminosity;
    }
    .feuille {
        width: 80%;
        position: relative;
        z-index: 2;
        pointer-events: none;
        margin: 15% auto 0 auto;
        transform: translateX(20%);
        mix-blend-mode: luminosity;
    }
    
    .circleAstre {
        width: 35%;
        position: absolute;
        left: 10%;
        top: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img {
            width: 100%;
            animation: float 3s ease-in-out infinite;
        }

        p {
            white-space: nowrap;
            margin-top: 15%;  
            font-size: 11px;
            color: var(--dark-blue);
        }
    }

    .circleTopRight {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        position: absolute;
        right: 6%;
        top: 10%;
        z-index: 1;

        img {
            width: 100%;
            animation: float 3s ease-in-out infinite;
        }

        p {
            margin-top: 20px;
            font-size: 11px;
            color: var(--dark-blue);
            white-space: nowrap;
            text-align: center;
        }
    }

    .circleleftBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        position: absolute;
        left: 50%;
        top: 60%;
        z-index: 1;
        img {
            width: 100%;
            animation: float 3s ease-in-out infinite;
        }
        p {
            margin-top: 65%;
            margin-left: 60%;
            font-size: 11px;
            color: var(--dark-blue);
            white-space: nowrap;
        }
    }
}

// .imgTest {
//     width: 87.2px;
//     height: 87.2px;
//     position: absolute;
//     left: 10%;
//     top: 22%;
//     z-index: 100;
//     mix-blend-mode: overlay;
//     // background-color: rgb(253, 240, 229);
//     background-color: var(--dark-blue);
//     border-radius: 50%;
//     animation: float 3s ease-in-out infinite;
// }

@keyframes float {
    0% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(-5px);
    }
}
