.loader {
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
        margin-bottom: 10px;
        animation: rotate 2s infinite linear;
    }

    h1 {
        font-size: 14px;
        font-family: Montserrat, sans-serif;
        font-weight: 300;
        color: var(--dark-blue);
    }
}

@keyframes rotate {
    0% {
        transform: rotate3d(0, 0, 1, 0);
    }
    100% {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}
