.telescopeContainer {
    overflow: hidden;
    width: 90vw;
    height: 90vw;
    border-radius: 9999px;
    position: relative;
    & > canvas {
        border-radius: 9999px;
        position: initial !important;
    }
    .canvas {
        transition: all 0.3s ease-in-out;
    }
    background-color: black;
    .calibrationContainer {
        width: 60%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--background-beige);
        p {
            font-family: Montserrat;
            font-size: 1em;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.29;
            letter-spacing: 2px;
            text-align: center;
            margin-bottom: 1em;
        }
        img {
            width: 70%;
            display: block;
            margin: 0 auto;
        }
    }
}

.text {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: var(--brown);
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    width: 90%;
}
