.button_hint {
    background-color: transparent;
    height: 50px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    pointer-events: none;

    .button {
        width: 70px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        opacity: .5;
        transition: .75s 1s all ease-out;

        img {
            width: 60%;
            margin-bottom: 5px;
        }

        span {
            color: var(--dark-blue);
            font-size: 12px;
            font-weight: 300;
            font-family: Montserrat, sans-serif;
            white-space: nowrap;
            transition: 1s 1.75s all ease-in-out;
        }
    
        .text__bold {
            font-weight: 700;
        }

        .hide {
            transform: translateY(10px);
            opacity: 0;
        }
    }

    .open {
        left: 0;
        transform: translateX(0);
        opacity: 1;
    }

    .active {
        opacity: 1;
        pointer-events: all;
    }

    .hint {
        color: var(--brown);
        width: 80%;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 300;   
        text-align: left;
        margin-left: 20px;
        opacity: 0;
        transform: translateY(10px);
        transition: 1s 1.75s all ease-in-out;
        align-self: flex-start;
    }

    .animText {
        transform: translateY(0);
        opacity: 1;
    }
}