.title {
    color: var(--background-beige);
    align-self: start;
    margin: 15px 5vw;
    font-family: "PP Woodland", sans-serif;
    font-size: 40px;
}

.background {
    background-color: var(--dark-blue);
    min-height: 100vh;
    width: 100%;
}
